# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=
sasl.password=

# Best practice for higher availability in librdkafka clients prior to 1.7
# This is for Consumer
# session.timeout.ms=45000

# C# : SocketKeepaliveEnable
socket.keepalive.enable=true

# C# : CancellationDelayMaxMs 
# Default 100ms
# dotnet.cancellation.delay.max.ms=100

request.required.acks=all

# Default 60000ms
# C# : SocketTimeoutMs
# Azure 50ms
# socket.timeout.ms=50

# Deafult 300000ms
# azure 200ms
# message.timeout.ms=200

# Default 30000ms
# C# : RequestTimeoutMs
# Azure 50ms
# request.timeout.ms=50

# Some TCP related configs
# SocketNagleDisable
# Default : false
socket.nagle.disable=true

# LingerMs
# Default : 5 (ms)
linger.ms=0

# OTHER Configs
# message.send.max.retries=0
# queue.buffering.max.ms=1
